
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: rgb(240, 232, 232);
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
  

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}

.btn{
  background-color:#007bfc;
  color: black;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 30px 10px 0 0 ;
  box-shadow: 0px 24px 36px -11px rgba(0 0 0/9%);
}

.btn:hover {
  background-color: #005ac1;
}
